.display-number {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 equal columns */
    background-color: #2596be;
    color: white;
    gap: 4px;
    padding: 4px;
    height: fit-content;
}

.display-number-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 4px;
    background-color: black;
    border-radius: 4px;
    color: yellow;
    font-size: 24px;
    
}

.display-button {
    grid-column: span 2;
    font-size: 24px;
    font-weight: bold;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 4px;
    height: 50px;
}

.display-number-item button{
    background-color: black;
    color: yellow;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60px;
}

.selected {
    border: 3px solid red;
    padding: -4px;
}

button:hover {
    color: black;
    background-color: white;
}